{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clock</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/clock.css' %}" rel="stylesheet">
</head>
<body>
<div class="page-header"> Analog Clock </div>
<div class="clock">
	<div class="hour"></div>
	<div class="min"></div>
	<div class="sec"></div>
</div>
<div class="switch-cont">
	<button class="switch-btn"> Light </button>
</div>
<script src="{% static 'app.js' %}"></script>
</body>
</html>