{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
  <link href="{% static 'css/stopwatch.css' %}" rel="stylesheet">
</head>
<body>
<div class="clock-wrapper">
  <div class="clock">
    <div class="clock__inner-bg"></div>

    <div class="clock__inner-bg">
      <div class="clock__markers">
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
        <div class="clock__mark"></div>
      </div>
    </div>

    <div class="clock__center"></div>

    <div class="clock__inners">
      <div class="clock__inner-center"></div>
      <div class="clock__inner-center"></div>
      <div class="clock__inner-center"></div>
    </div>

    <div class="clock__pointer"></div>

    <svg class="svg" xmlns="http://www.w3.org/2000/svg">
      <!-- Created with Method Draw - https://github.com/duopixel/Method-Draw/ -->
      <defs>
        <radialGradient gradientTransform="translate(1,0.5) scale(-0.99,1)" r="1.200581" cy="0" cx="0" spreadMethod="pad" id="svg_9">
          <stop offset="0" stop-opacity="0.996094" stop-color="#ff415a"/>
          <stop offset="1" stop-opacity="0" stop-color="#252525"/>
        </radialGradient>
      </defs>
      <g>
        <title>Layer 1</title>
        <ellipse stroke="url(#svg_9)" ry="21.5%" rx="21.5%" id="svg_1" cy="50%" cx="50%" stroke-width="12%" fill="transparent"/>
      </g>
    </svg>
  </div>

  <span class="clock-time">00:00,000</span>

  <div class="clock-buttons">
    <button type="button" class="clock-button" data-role="clock-reset">
      <span class="clock-button__text">Reset</span>
    </button>

    <button type="button" class="clock-button clock-button--start" data-role="clock-start-stop">
      <span class="clock-button__text">Start</span>
    </button>
  </div>
</div>
<script src="{% static 'stopwatch.js' %}"></script>
</body>
</html>